.consultantBg{
    background-image: linear-gradient(0deg, rgba(2, 2, 2, 0.637), rgba(22, 22, 22, 0.671)), url("https://images7.alphacoders.com/130/1300833.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}